<div class="banner2">


    <div>
      <div class="aboutclass">
      <h1 class="laundry">Laundry</h1>
      <h2 class="laundry2">Every cloth goes through a comprehensive<br>
        6 stage process enabling us to deliver<br>
        on the promise of sparkling & fresh clothes,<br>
        everytime.</h2>

        <!--<img src="../../../assets/img/about6step.webp" alt="">-->
      </div>
    </div>

    <!--1-->
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      What is dry cleaning?
    </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Dry cleaning is a term used for cleaning clothes, upholstery and other type of fabrics with the help of liquids other than water. This is how dry cleaning has been done traditionally. These solvents, however, cause irreparable harm to both humans and environment. However, at Tumbledry, we use world’s latest Lagoon technology which is completely eco-friendly and Woolmark certified
    </div>
  </div><br>
  <br>
  
  <!--2-->
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    What dry cleaning services does Cleano provide in Pune?
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    We are the best dry cleaners in Pune for haute couture, bridal wear, and silk sarees. Our dry clean service portfolio also includes woolens, suit, lehenga, carpet, blanket, curtains, blinds, soft toys, suitcase/trolleys and leather jackets. We also provide steam iron, raffu (darning), and color dyeing.  </div>
</div><br>
<br>

<!--3-->
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  What are the hygiene precautions that Cleano take?
</button>
<div class="collapse" id="collapseExample">
<div class="card card-body">
  Our processes in Gurgaon are compliant with the World Health Organization (WHO) & USA’s Centre for Disease Control (CDC) hygiene guidelines for dry cleaning.</div>
</div>


    <!-- Service Section-->
  <section class="services">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">Our  <span class="highlight">Contributors</span></h2>
      <p class="text-muted mb-5">About our self</p>
      <div class="row">
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Sarthak Hardas</h2>
                  <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0">sarthakhardas@gmail.com</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Mayur Vaidya</h2>
                  <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0">mayurvaidya@gmail.com</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Vedant Bajirao</h2>
                  <div class="services-icon my-4"><i class="fas fa-notes-medical fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0">vedantbajirao@gmail.com</p>
                </div>
              </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Mayur Patil</h2>
                  <div class="services-icon my-4"><i class="fas fa-ambulance fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0">mayurpatil@gmail.com</p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>

</div>